<!doctype html>
<html lang="kr">

<head>
  <%- include('header.ejs') %>
</head>

<body>
  <%- include('diaryNavbar.html')%>

    <div class="container mt-4">
      <h4 class="ml-2 my-3">일기장 내역</h4>
      <% for (let i=0; i < posts.length; i++) { %>
        <ul class="list-group"></ul>
        <li class="list-group-item mb-3">
          <h4 class="text-justify">기분 : <%= posts[i].mood %>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= posts[i].date%>
          </h6>
          <p class="text-justify">한 일 : <%= posts[i].todoBool? "성공 " + posts[i].todoText : "실패 " + posts[i].todoText; %>
          </p>
          <button type="button" class="btn btn-primary"
            onclick="location.href='/edit/<%= posts[i]._id %>'">수정</button>
          <button type="button" class="btn btn-danger" data-id="<%= posts[i]._id %>">삭제</button>
        </li>
        </ul>
        <% } %>
          </ul>
    </div>

    <!-- jquery 불러오기 -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->


    <script>
      $('.btn-danger').click(function (e) {
        let id = e.target.dataset.id; //data-id인거

        //db에서 삭제
        $.ajax({
          method: 'DELETE',
          url: '/delete',
          data: { _id: id }
        }).done((res) => {  //성공했을 때
          $(this).parents('li').fadeOut();

        }).fail((xhr, textStatus, errorThrown) => {
          console.log(xhr, textStatus, errorThrown);
        });
      })

    </script>
</body>

</html>